<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RunBarebones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--
	<dependentAssembly>
		<assemblyIdentity name="System.Resources.Extensions" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="6.0.0.0" />
	</dependentAssembly>
	-->
    <userSettings>
        <RunBarebones.Properties.Settings>
            <setting name="SimioDesktopPath" serializeAs="String">
                <value>c:\Program Files\Simio LLC\Simio</value>
            </setting>
            <setting name="ExperimentProjectFilename" serializeAs="String">
                <value>HospitalEmergencyDepartment.spfx</value>
            </setting>
            <setting name="ExperimentModelName" serializeAs="String">
                <value>Model</value>
            </setting>
            <setting name="PlanProjectFilename" serializeAs="String">
                <value>SchedulingDiscretePartProduction.spfx</value>
            </setting>
            <setting name="WorkPath" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="PlanModelName" serializeAs="String">
                <value>Model</value>
            </setting>
            <setting name="SaveWithSourceControlSupport" serializeAs="String">
                <value>True</value>
            </setting>
        </RunBarebones.Properties.Settings>
    </userSettings>
</configuration>