<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RunSimioModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <RunSimioModel.Properties.Settings>
            <setting name="RootFolderpath" serializeAs="String">
                <value>c:\temp\RunScheduleOrExperimentTest</value>
            </setting>
            <setting name="StatusFilepath" serializeAs="String">
                <value>c:\temp\RunScheduleOrExperimentTest\Status.txt</value>
            </setting>
            <setting name="ModelName" serializeAs="String">
                <value>Model</value>
            </setting>
            <setting name="IsPlanToBeRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRiskAnalysisToBeRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsProjectToBeSaved" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsExperimentToBeRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExperimentName" serializeAs="String">
                <value>Experiment1</value>
            </setting>
        </RunSimioModel.Properties.Settings>
    </userSettings>
	<runtime>
		<!--
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Resources.Extensions" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>		
		</assemblyBinding>
		-->
	</runtime>
</configuration>
